*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    border: 1cm;
    border-radius: 10px;
    background-color: #f9f9f9;

}
.navbar-brand{
    margin: 0;
    padding: 0;
}
/*#img-logo {
    max-width: 25%;
    max-height: 25%;
}*/

.navbar-brand:hover{
    color: #232323ff;
}
.nav-link{

    color: #232323ff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}

.nav-link:hover{
    color: #232323ff;
}

.search{
    height: 40px ;
    padding-left: 30px;
    width: 100%;
    border-radius: 60px ;
    outline: none;
    border: 2px solid #D80F24ff ;
    font-family: 'Roboto', sans-serif;
    margin-right: -35px;
}

.btn0{
    height: 40px;
    width: 40%;
    background-color: #D80F24ff;
    color: #FDF8F9ff;
    border: none;
    outline: none;
    border-radius: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.main{
    background: url(./img/black-boy-posing-with-vinyls.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: 50% 50%;
    width: 100%;
}

.main h1{
    font-family: 'Chivo', italic, sans-serif;
    font-size: 4rem;
    font-weight: 700 ;
    color: #CAABADff;
}
.btn1{
    height: 40px;
    width: 35%;
    border: none;
    outline: none;
    background-color: #D80F24ff;
    color: #FDF8F9ff;
    font-weight: 700;
    border-radius: 60px;
    font-family: 'Lato', sans-serif;


}

h1{
    font-weight: 700;
}

.card{
    padding:10px;
    box-shadow: 2px -2px 42px -10px rgba(0,0,0,0.24);
-webkit-box-shadow: 2px -2px 42px -10px rgba(0,0,0,0.24);
-moz-box-shadow: 2px -2px 42px -10px rgba(0,0,0,0.24);
}





footer{
    background-color: #232323ff;
    text-align: center;
    color: #CAABADff ;
}
footer a{
    color: #D80F24ff  ;
}


/* Pagina produtos*/
.container {
    font-family: 'Roboto', sans-serif;
}

.container h2{
    font-family: 'Lato', italic, sans-serif;    
    color: #D80F24ff;

}
.card-group h5{
    font-family: 'Lato', sans-serif;    
    color: #D80F24ff;
}


footer .row{
  margin-left: auto;
  margin-right: auto;

}
footer img{
    width: 10%;
}
footer .column{
    align-items: center;
}
footer .row{
    align-items: center;
}
footer .row:after{
    content: "";
    clear: both;
    display: table;
    align-items: center;
}

footer p{
    font-size: small;
}
hr{
color: #FDF8F9ff;

}


.btn4{
    height: 40px;
    width: 32%;
    border: none;
    outline: none;
    background-color: #D80F24ff;
    color: #FDF8F9ff;
    font-weight: 700;
    border-radius: 60px;
    font-family: 'Lato', sans-serif;


}

.btn5{
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    background-color: #D80F24ff;
    color: #FDF8F9ff;
    font-weight: 700;
    border-radius: 60px;
    font-family: 'Lato', sans-serif;

}
h3{
    color:#232323ff;
    font-family: 'Lato', sans-serif;    
    text-align: center;
}

a:link{
    color: #FDF8F9ff;

}
a:visited{
    color: #CAABADff;
}
a:hover{
    color:blue ;
}
a:active{
    color: #FDF8F9ff; 

}

nav:link{
    color: #232323ff;
}
nav:visited{
    color: #232323ff;
}
nav:hover{
    color: #232323ff;
}
nav:active{
    color: #232323ff;
}

.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 70%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 30%;
    color: white;
}
.contact-right img{
    width: 400px;
    height:600px ;
    object-fit: fill;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45px;

}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    
    margin-bottom: 6px;
    display: block;
    color: #D80F24ff;
    font-family: 'Lato', sans-serif;

}

h1{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    color: #D80F24ff;
text-align: center;

}

h3{
    font-family: 'Lato', italic, sans-serif;
    font-size: medium;
    color: #D80F24ff;
    text-align: center;
}
/* CSS HEX 
--white: #FFFFFFff;
--eerie-black: #232323ff;
--rosy-brown: #CAABADff;
--snow: #FDF8F9ff;
--fire-engine-red: #D80F24ff;
*/